/* Highlighty.js | by Stephen Wu */

/* Bulma overrides */

.footer {
  padding: 3rem 1.5rem; /* from: 3rem 1.5rem 6rem */
}

.delete /* X icon */ {
  vertical-align: middle /* from: top */;
}

/* Primary settings */

#Settings,
#Denylist {
  margin-bottom: 2rem;
}

#Settings input[type='checkbox'] {
  vertical-align: bottom;
}

#Settings__AutoHighlight {
  display: none;
}

#Settings label {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/* Phrase & URL lists */

#PhraseList--invisible {
  display: none;
}

.PhraseList__header {
  margin-bottom: 0px;
}

button.PhraseList__color {
  height: 16px;
  width: 16px;
  border-radius: 100%;
  display: inline-block;
  vertical-align: middle;
  border-color: black;
}

button.PhraseList__color:hover {
  cursor: pointer;
}

span.PhraseList__title {
  font-weight: 400;
}

span.tag.PhraseList__phrase,
span.tag.Denylist__url,
span.tag.Allowlist__url {
  display: inline-flex;
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
  padding: 0.5rem;
}

.PhraseList__newPhrase,
#Denylist__newURL,
#Allowlist__newURL {
  padding-top: 0;
  margin-bottom: 1rem;
}

span.Denylist__url {
  background-color: #ff3860;
  color: white;
}

span.Allowlist__url {
  background-color: #00d1b2;
  color: white;
}

#BulkImportExport {
  padding-top: 1rem;
}
/* Color picker */
.picker_editor input {
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}
