/* Highlighty.js | by Stephen Wu */

/* Bulma overrides */

.footer {
  padding: 3rem 1.5rem; /* from: 3rem 1.5rem 6rem */
}

/* Primary settings */

#Settings {
  margin-bottom: 2rem;
}

#Settings input[type=checkbox] {
  vertical-align: bottom;
}

/* Phrase Lists */

#PhraseList--invisible, .Settings__enableManualHighlight--invisible {
  display: none;
}

.PhraseList__header {
  margin-bottom: 0px;
}

span.PhraseList__title {
  font-weight: 400;
}

span.tag.PhraseList__phrase {
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
  padding: 0.5rem;
}

.PhraseList__newPhrase {
  margin-bottom: 1.0rem;
}
