/* Highlighty.js v1.0 | by Stephen Wu | MIT License */

/* Primary settings */

#Settings {
  margin-bottom: 2rem;
}

#Settings__enableTitleMouseover {
  vertical-align: bottom;
}

.Settings__label {
  text-align: left;
  margin-left: 0.4em;
}

/* Phrase Lists */

#PhraseList--invisible {
  display: none;
}

.PhraseList__header {
  margin-bottom: 0px;
}

span.PhraseList__title {
  font-weight: 400;
}

.PhraseList__phrase {
  margin-right: 0.5rem;
  margin-bottom: 0.4rem;
}
